html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {
  padding: 1em;
}

pre {
  position: relative;
  margin: 0;
  padding: 0.7em 1em;
  display: block;

  background-color: #333;
  color: #eee;
  outline: solid 1px #ddd;

  font-size: 3em;
  overflow-x: auto;
}
code button {
  position: absolute;
  bottom: 0;
  right: 0;

  opacity: 0;
  transition: 0.3s opacity;
}
code:hover button {
  opacity: 1;
}
